<footer class="bottom-gradient">
    <div id="copyright">Copyright &copy; @DateTime.Now.Year Seth Ficke
    </div>
    <div id="credit">Made with ASP.NET Core 2.0</div>
    <div id="contact">@Html.ActionLink("Hire Seth...", "Index", "Contact")</div>
</footer>