<footer class="bottom-gradient">
    <div id="copyright">Copyright &copy; @DateTime.Now.Year Seth Ficke
    </div>
    <div>Hit Count: <span id="hitcount"></span></div>
    <div id="contact">@Html.ActionLink("Hire Seth...", "Index", "Contact")</div>
</footer>