<header>
    <div class="texture">
        <nav>
            <a class="phone" id="phone" href="tel:5135150212">513.515.0212</a>
            <span class="spacer"></span>
            <div class="links">
                <a href="https://www.linkedin.com/in/seth-ficke-213209104">LinkedIn</a>
            </div>
        </nav>
        <hgroup>
            <h1>Seth Ficke</h1>
            <h2>Cloud + Mobile Developer</h2>
        </hgroup>
    </div>
</header>