<section id="srdatasystem">
    <hgroup>
        <h2>S&amp;R Data System</h2>
        <h3>Mosinee Cold Storage</h3>
    </hgroup>
    <p>While working at Mosinee Cold Storage, I developed a combination of native, web, network, and database technologies for the Shipping and Receiving office.</p>
    <a class="btn btn-primary" href="/Project/ShippingAndReceivingDataSystem">Read More</a>
</section>

<section id="syllabusgen">
    <hgroup>
        <h2>Syllabus Generator</h2>
        <h3>Northcentral Technical College</h3>
    </hgroup>
    <p>As a student at Northcentral Technical College, I significantly contributed to the development of the Syllabus Generator application.  The production beta version was released in Summer 2017.  We estimate that as a direct result of our work, the institution will realize approximately one hundred thousand dollars in labor savings annually.</p>
    <a class="btn btn-primary" href="/Project/NtcSyllabusGenerator">Read More</a>
</section>

<section id="lamplighter">
    <hgroup>
        <a href="http://lamplighterfinegifts.com"><h2>LamplighterFineGifts.com</h2></a>
        <h3>Lamplighter Fine Gifts</h3>
    </hgroup>
    <p>A small freelance job, I built a simple product catalog website for Lamplighter Fine Gifts. Located on the three hundred block in downtown Wausau, WI, stop in for your gift-giving needs &mdash; Craig has a way of finding the right thing for <em>anyone.</em></p>
    <a class="btn btn-primary" href="/Project/LamplighterFineGifts">Read More</a>
</section>

<section id="jsprimes">
    <hgroup>
        <h2>Javascript Primes Finder</h2>
        <h3>Just For Fun</h3>
    </hgroup>
    <p>It's very common for websites to perform poorly under heavy computational workloads. The Javascript Primes Finder demonstrates a technique to delegate that work to the browser and execute it without freezing the page.</p>
    <a class="btn btn-primary" href="/Project/JsPrimes">Read More</a>
</section>