<article class="resume">
    <section>
        <h1 class="lead">
            For Hire
        </h1>
    </section>
    <section>
        <ul class="skills">
            <li>
                <link rel="prefetch" href="https://en.wikipedia.org/wiki/.NET_Framework">
                <a href="https://en.wikipedia.org/wiki/.NET_Framework" target="_blank">
                    <img alt=".NET Core" src="~/images/netcore.svg" border="0" />
                </a>
            </li>
            <li>
                <link rel="prefetch" href="https://en.wikipedia.org/wiki/JavaScript">
                <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">
                    <img alt="JavaScript" src="~/images/js.jpg" border="0" />
                </a>
            </li>
            <li>
                <link rel="prefetch" href="https://en.wikipedia.org/wiki/SQL">
                <a href="https://en.wikipedia.org/wiki/SQL" target="_blank">
                    <img alt="JavaScript" src="~/images/sql.png" border="0" />
                </a>
            </li>
        </ul>
    </section>
    <section>
        <link rel="prefetch" href="http://www.ntc.edu">
        <a href="http://www.ntc.edu">
            <hgroup class="schoolname">
                <h1>Northcentral Technical College</h1>
                <h2>IT - Mobile Applications Developer</h2>
            </hgroup>
        </a>
    </section>
    <section id="map">
        <h3>Located in Wausau, WI</h3>
    </section>
</article>
