<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sethportfolio3.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>7ea6e973-f7b3-4ddb-aaaf-ac49b60e974c</ProjectGuid>
    <MSDeployServiceURL>sethportfolio3.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SethPortfolio3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SethPortfolio3</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ResourceId>/subscriptions/4940670e-f64d-401d-b6df-fc6f290f01c2/resourcegroups/RG_SethPortfolio/providers/Microsoft.Web/sites/SethPortfolio3</ResourceId>
    <ContainerResourceId>/subscriptions/4940670e-f64d-401d-b6df-fc6f290f01c2/resourceGroups/RG_SethPortfolio/providers/Microsoft.ContainerRegistry/registries/registry20170928113827</ContainerResourceId>
    <ContainerResourceName>registry20170928113827</ContainerResourceName>
    <ResourceGroup>RG_SethPortfolio</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20170928113827.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>