.content-container {
    display: flex;
    background-color: #ebefeb;
}

main {
    max-width: 900px;
    padding-top: 1em;
    padding-left: 2em;
}

main>* {
    padding-bottom: 1em;
}

main h1 {

}

main h2 {
    line-height: 2em;
    background-color: #3F4494;
    color: white;
}

h3 {

}

h4 {

}

h5 {

}

section {
    background-color: white;
    padding: 1em;
}

.resume {
    margin: 1em;
}
.resume>*{
    padding: 1em;
}

.lead {
    text-align: center;
    padding: 15vw;
    line-height: 2em;
    font-size: 1.1em;
    font-weight: 700;
    color: white;
    background-color: #3F4494;
    box-shadow: 1px 1px 0 10px white;
}