
@{
    ViewData["Title"] = "LamplighterFineGifts";
}
<style>
    #visit {
        padding: 1.5vw;
        
    }
    img {
        padding-bottom: 2em;
    }
</style>
<a id="visit" href="http://lamplighterfinegifts.com"><h1>LamplighterFineGifts.com</h1></a>
<img src="~/images/lamplighter.PNG" width="60%" height="60%" alt="lamplighterfinegifts.com screenshot"/>
