
@{
    ViewData["Title"] = "NtcSyllabusGenerator";
}

<h2>Ntc Syllabus Generator</h2>

<p>The NTC Syllabus Generator is an ASP.NET Web Application integrated with PeopleSoft 
    which automates the collection, management, and composition of student, course, 
    faculty, program, and institution data for the purpose of maintaining standardized, 
    defect free syllabi.  During my time as a student at NTC, and along with other students, 
    I significantly contributed to the project.  It entered the production environment in Summer 2017.</p>
<blockquote>
    "Any employer who is lucky enough to have Seth as a part of their team will benefit greatly from his work."
    <br /> -Bonnie Osness, Director of Career Pathways, Northcentral Technical College
    <br /> <a href="~/documents/syllabus_generator_reference_letter.pdf">View letter of reference...</a>
</blockquote>