footer {
    color: #fff;
    background: rgba(102,45,145,1);
    background: -moz-linear-gradient(left, rgba(102,45,145,1) 0%, rgba(43,57,144,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(102,45,145,1)), color-stop(100%, rgba(43,57,144,1)));
    background: -webkit-linear-gradient(left, rgba(102,45,145,1) 0%, rgba(43,57,144,1) 100%);
    background: -o-linear-gradient(left, rgba(102,45,145,1) 0%, rgba(43,57,144,1) 100%);
    background: -ms-linear-gradient(left, rgba(102,45,145,1) 0%, rgba(43,57,144,1) 100%);
    background: linear-gradient(to right, rgba(102,45,145,1) 0%, rgba(43,57,144,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#662d91', endColorstr='#2b3990', GradientType=1 );
}

footer {
    display: flex;
    flex-direction: row;
}
footer a {
    color: white;
    text-decoration: none;
}
footer > * {
    flex-grow: 1;
    padding: 1em;
    text-align: center;
}