header {
    color: #fff;
    background-image: url("../images/light-honeycomb-dark.png");
}

header .texture {
    background: linear-gradient(to right, rgba(102,45,145,.9) 0%, rgba(43,57,144,.9) 100%);
}

header nav {
    width: 100%;
    display: flex;
    z-index: 100;
}

header nav>* {
    display: flex;
}

header nav>.phone {
    padding: .5em;
    font-size: 2em;
    color: white;
    text-decoration: none;
    background-color: rgba(255,255,255,0.2);
    flex-grow: 1;
}

header .spacer {
    flex-grow: 3;
    background-color: rgba(255,255,255,0.2)
}

header .links {
    display: flex;
    background-color: rgba(255,255,255,0.2);
    flex-direction: row;
    line-height: 2em;
    font-size: 2em;
    flex-grow: 1;
}

header .links a {
    color: white;
    text-decoration: none;
    flex-grow: 1;
    text-align: right;
    padding-right: 1vw;
}

header hgroup {
    text-align: center;
    z-index: 100;
}

header h1 {
    margin-top: 3vw;
    font-size: 3em;
}

header h2 {
    padding-bottom: 5vw;
}

@media screen and (max-width:900px){
    /* Put responsive navigation stuff here. */
}

@media only screen and (min-width: 900px){
    header h1 {
        font-size: 7em;
        margin-top: 5vw;
    }
}